@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .menus li a {
      color: #424242;
      font-size: 16px;
    }
  }

  .main-information-aria {
    padding: 0 20px;
  }
  .main-title h3 {
    font-size: 44px;
  }
  /* team section start */
  .features_container {
    flex-direction: column;
  }

  .team-images {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 10px;
  }
  .team_content {
    max-width: 100%;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .team_title {
    font-size: 40px;
    padding-top: 30px;
  }
  .main-btn {
    margin-top: 0px !important;
  }
  .main-description-text p {
    margin-bottom: 20px;
  }
  .all-items {
    flex-direction: column;
  }
  .big-features-aria,
  .custom-img {
    max-width: 100%;
  }
  .big-features-aria {
    padding-right: 0px;
  }
  .custom-img {
    text-align: center;
    padding-left: 0px;
  }
  .custom-img img {
    max-width: 90%;
  }
  .features-service {
    margin: 20px;
  }
  .information-features-title {
    margin: 0px 20px;
    font-size: 38px;
  }
  .information-features p {
    margin: 20px 20px;
  }
  .fact-title h3 {
    font-size: 40px;
  }
  .information-features {
    max-width: 540px;
  }
  .facts-container {
    flex-direction: column;
  }
  .sponspors-img {
    flex-direction: column;
  }

  .information-features {
    max-width: 100%;
    text-align: center;
  }
  .fact-items {
    margin-bottom: 20px;
  }
  .spon-description {
    padding: 20px;
  }
  .spon-item {
    margin-bottom: 30px;
  }
  .footer-color {
    border-radius: 8px;
    background: #fff4e7;
    padding: 20px;
    margin-bottom: 0px;
  }
}
