* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: 50px 0;
  background-color: rgba(255, 144, 14, 0.1);
}
nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h3 {
  font-size: 45px;
  font-weight: 700;
}

.menus li {
  list-style: none;
  display: inline;
  margin-right: 30px;
}
.menus li a {
  text-decoration: none;
  color: #424242;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}
.main-information-aria {
  background-color: rgba(255, 144, 14, 0.1);
  text-align: center;
  padding-bottom: 30px;
}
.main-title {
  max-width: 850px;
  margin: 0 auto;
}
.main-title h3 {
  color: #131313;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 30px;
}
.main-description p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}
.main-btn {
  width: 180px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff900e;
  color: white;
  border: 0px;
  margin-top: 30px !important;
}
.main-btn a {
  color: white;

  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.main-information-aria img {
  padding-top: 30px;
  max-width: 100%;
}

.features_container {
  display: flex;
  align-items: center;
  padding: 50px 0;
}
.team-images img {
  max-width: 100%;
}
.team-images {
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team_content {
  max-width: 50%;
  padding-left: 50px;
}
.team_title {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
p.team_description {
  color: #727272;
  padding: 30px 0;

  font-size: 16px;

  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.title-black {
  font-weight: 700;
  color: black;
}
.title-orange {
  color: #ff900e;
  font-weight: 700;
}
.information-features-title {
  font-size: 45px;
  font-weight: 700;
  color: black;
}
.information-features p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
}
.secound-title {
  color: #131313;
  font-weight: 600;
  font-size: 20px;
}
.features-items {
  margin-top: 50px;
}
.features-service {
  margin-bottom: 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 15px 20px;
}
.all-items {
  display: flex;

  margin-top: 50px;
}
.big-features-aria {
  padding-right: 60px;
}
.information-features-title {
  margin-bottom: 50px;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.secound-title {
  padding-bottom: 20px;
}
.big-features-aria,
.custom-img {
  max-width: 50%;
}
.custom-img{
  padding-left: 20px;
}
.custom-img img {
  max-width: 100%;
}
.btn-main-10years {
  margin-left: -50px;
  margin-top: -80px;
  width: 300px;
  height: 150px;

  border-radius: 8px;
  background: #ff900e;
  border: 0;
}
.btn-main-10years h2 {
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px; /* 107.692% */
}
.btn-main-10years p {
  color: #fff;
  font-size: 20px;

  font-weight: 500;
  line-height: 40px;
}
